.gamearea{
  height: 200px;
  width: 200px;
  border: 1px solid #000;
  line-height: 0 !important;
}

.box{
  width: 50%;
  height: 50%;
  color: black;
  text-align: center;
  display: inline-block;
}

.active{
  border: 1px solid red;
  color: red;
}

.start {
  position: relative;
  left: 100px;
  transform: translateX(-50%);
}