.accordion .abody {
  padding: 5px;
  border: 1px solid #eee;
  display: none;
}

.accordion .active .abody {
  display: block;
}

.accordion .ahead {
  background-color: #333;
  padding: 5px;
  font-size: 1.6em;
  margin: 5px 0;
  color: white;
}